@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}
:root {
  --pixel-size: 16px;
  --size: 0;
  --pixel-color: null;
  --canvas-scale: 1;
  --icons-color: rgb(218, 218, 218);
}
body {
  background-color: rgb(46, 46, 46);
  color: white;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  overflow: hidden;
}
.canvasBox {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  direction: ltr;
  background-color: transparent;
  transform: scale(var(--canvas-scale));
}
#drawing-board {
  background-color: transparent;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.315);
  border: 1px solid white;
  position: relative;
}
.colors {
  /* position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%); */
  width: 100px;
  height: 500px;
  background-color: rgb(24, 24, 24);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 15px;
  border-right: 2px solid  var(--icons-color);
  border-top: 2px solid  var(--icons-color);
  border-bottom: 2px solid  var(--icons-color);
}
.colors div {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 5000px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.5);
}
.colors div:hover {
  border: 1px solid rgb(37, 37, 37);
}
#color-input {
  border-radius: 5000px;
  width: 40px;
  height: 40px;
  box-shadow: none;
  border: none;
}
#white {background-color: white;}
#red {background-color: red;}
#orange {background-color: orange;}
#yellow {background-color: yellow;}
#green {background-color: green;}
#blue {background-color: blue;}
#purple {background-color: purple;}
#black {background-color: black;}
.tools {
  /* position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%); */
  width: 100px;
  height: 500px;
  background-color: rgb(24, 24, 24);
  z-index: 2;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-left: 2px solid  var(--icons-color);
  border-top: 2px solid  var(--icons-color);
  border-bottom: 2px solid  var(--icons-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
  padding-left: 15px;
}
.tools div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icons-color);
  border-bottom: 1px solid var(--icons-color);
  border-right: 1px solid var(--icons-color);
  position: relative;
}
.tools div:hover {
  background-color: rgba(128, 128, 128, 0.1);
}
.tools div i {
  font-size: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
#fakeCanvas {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(var(--size),var(--pixel-size));
  grid-template-rows: repeat(var(--size),var(--pixel-size));
  pointer-events: none;
}
#fakeCanvas div {
  border: 1px solid rgba(0, 0, 0, 0.082);
}
#pixel-size-input {

  width: 50px;
  height: 30px;

}