@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}
:root {
  --pixel-size: 16px;
  --size: 0;
  --pixel-color: null;
  --canvas-scale: 1;
}
body {
  background-color: black;
  color: white;
}
.canvasBox {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  direction: ltr;
}
#drawing-board {
  background-color: gray;
  transform: scale(var(--canvas-scale));
}
.colors {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 100px;
  height: 75%;
  background-color: rgb(105, 105, 105);
  z-index: 2;
}
.tools {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  width: 100px;
  height: 75%;
  background-color: rgb(105, 105, 105);
  z-index: 2;
}
#fakeCanvas {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(15,16px);
  grid-template-rows: repeat(15,16px);
  pointer-events: none;
  transform: scale(var(--canvas-scale));
}
#fakeCanvas div {
  border: 1px solid rgba(0, 0, 0, 0.082);
}